@using HLSMP.ViewModel
@model DisTehVillViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Update Tatima Details";
}

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card shadow" style="width: 100%; border:none;">
        <div class="header_1"><h6 class="mb-0">Update Tatima Details</h6></div>
        <div class="card-body text-center">

            <form asp-action="Search" method="post">
                <div class="form-row row">
                    <div class="form-group col-12 col-md-4">
                        <label for="SelectedDistrictId">District</label>
                        <select asp-for="SelectedDistrictId" class="form-control" asp-items="Model.Districts" id="districtDropdown">
                            <option value="">-- Select District --</option>
                        </select>
                    </div>

                    <div class="form-group col-12 col-md-4">
                        <label>Tehsil</label>
                        <select asp-for="SelectedTehsilId" class="form-control" id="tehsilDropdown">
                            <option value="">-- Select Tehsil --</option>
                        </select>
                    </div>

                    <div class="form-group col-12 col-md-4">
                        <label>Village</label>
                        <select asp-for="SelectedVillageId" class="form-control" id="villageDropdown">
                            <option value="">-- Select Village --</option>
                        </select>
                    </div>

                    <div class="form-group col-12 col-md-4">
                        <label for="SelectedReasonId">Reason</label>
                        <select asp-for="SelectedReasonId" class="form-control" asp-items="Model.Reasons">
                            <option value="">-- Select Reason --</option>
                        </select>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mt-3">Search</button>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            console.log("GIS Script Loaded");

            $('#districtDropdown').change(function () {
                var districtId = $(this).val();
                $('#tehsilDropdown').empty().append('<option>Loading...</option>');
                $('#villageDropdown').empty().append('<option value="">-- Select Village --</option>');

                $.getJSON('/GIS/OnGetTehsil', { districtId: districtId }, function (data) {
                    $('#tehsilDropdown').empty().append('<option value="">-- Select Tehsil --</option>');
                    $.each(data, function (i, tehsil) {
                        $('#tehsilDropdown').append('<option value="' + tehsil.value + '">' + tehsil.text + '</option>');
                    });
                });
            });

            $('#tehsilDropdown').change(function () {
                var tehsilId = $(this).val();
                $('#villageDropdown').empty().append('<option>Loading...</option>');

                $.getJSON('/GIS/OnGetVillages', { tehsilCode: tehsilId }, function (data) {
                    $('#villageDropdown').empty().append('<option value="">-- Select Village --</option>');
                    $.each(data, function (i, village) {
                        $('#villageDropdown').append('<option value="' + village.value + '">' + village.text + '</option>');
                    });
                });
            });
        });
    </script>
}
